/* ------------------------Общие элементы------------------------- */
body {
    background-color: #080B0F;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    min-width: auto;
    height: 66px;
    margin: 0 23px;

}

.header {
    height: 100vh;
}

/* -------------------header__top-inner----------------------- */

.header__top-inner {
    margin: 14px 0;
}


.header__top-search-Logo {
    margin-left: 17px;
    margin-right: 13px;
}

.header__top-search {
    display: flex;
    align-items: center;
    width: 375px;
    height: 40px;
    background-color: #212327;
    border-radius: 10px;
    font-size: 12px;
    color: #A5A6A8;
    font-family: Kamerik-105-Cyrillic;
    font-weight: 400;
}
.header__top-search-text {
    display: flex;
    align-items: center;
    width: 326px;
    height: 40px;
    background-color: #212327;
    border-radius: 10px;
    font-size: 12px;
    color: #A5A6A8;
    font-family: Kamerik-105-Cyrillic;
    font-weight: 400;
    cursor: wait;
}
.header__top-search-text::-webkit-search-cancel-button {
    -webkit-appearance: none; /* Удаление стандартного внешнего вида */
    height: 25px; 
    width: 25px; 
    background:  url('/public/images/cross\ ico.ico') no-repeat center center;
    

    background-size: contain; /* Масштабирование изображения */
    cursor: cell; 
}