/* ------------------------Общие элементы------------------------- */
body {
    background-color: #080B0F;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    display: flex;
    align-items: center;
    min-width: auto;
    margin: 14px 23px;
    height: 100%;
    
}

.header {
    height: 100vh;
}

/* -------------------header__top-inner----------------------- */

.header__top {
}

.header__top-inner {
    display: flex;
    align-items: center;
    width: 1857px;
    /* margin: 14px 0; */
}


.header__top-search-Logo {
    margin-left: 17px;
    margin-right: 13px;
}

.header__top-search {
    display: flex;
    align-items: center;
    width: 375px;
    height: 40px;
    background-color: #212327;
    border-radius: 10px;
    font-size: 12px;
    color: #A5A6A8;
    font-family: Kamerik-105-Cyrillic;
    font-weight: 400;
}

.header__top-search-text {
    display: flex;
    align-items: center;
    width: 326px;
    height: 40px;
    background-color: #212327;
    border-radius: 10px;
    font-size: 12px;
    color: #A5A6A8;
    font-family: Kamerik-105-Cyrillic;
    font-weight: 400;
    cursor: auto;
}

.header__top-search-text::-webkit-search-cancel-button {
    -webkit-appearance: none;
    /* Удаление стандартного внешнего вида */
    height: 25px;
    width: 25px;
    background: url('/public/images/cross\ ico.ico') no-repeat center center;


    background-size: contain;
    /* Масштабирование изображения */
    cursor: pointer;
}

/* .header__profile {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 14px;
    width: 160px;
    height: 30px; 
} */
.profile__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    min-width: 160px;
    min-height: 30px;
}

.profile__buttons-login {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    width: 100px;
    height: 28px;
    font-family: Kamerik-105-Cyrillic;
    font-weight: 700;
    font-size: 16px;
    background: #bcfd4c;
    color: #080b0f;
    transition: 0.9s;
}

.profile__buttons-login:hover {
    box-shadow: 0 0 10px #c1f862;
    transform: scale(1.1);
}

.profile__buttons-register {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 6px;
    width: 100px;
    height: 28px;
    font-family: Kamerik-105-Cyrillic;
    font-weight: 700;
    font-size: 16px;
    background: #080B0F;
    color: #FFFFFF;
    box-shadow: 0px 0px 0px 1px #47494D;
    transition: 0.9s;
}

.profile__buttons-register:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 5px 1px #7c7f85;

}

.header__main {
    /* display: flex; */
    /* flex: 1 1 auto; */
    height: 100%;
    width: 100%;
}

.header__main-inner {
    /* display: flex; */
    width: 1857px;
    max-width: 100%;
    height: 700px;
    max-height: 100%;
}

.header__news-board {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    height: 100%;
    background-color: #212327;
    border-radius: 20px;
}


.new-board-list {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('arrow.png') no-repeat right center;
    background-size: 1em;
    padding-right: 2em;
}